{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="col s12 m9">
    <h5>Camera Management</h5>
    <div class="row" style="padding-left:10px;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#addcam">Add Cameras</a></li>
        <li class="tab col s3"><a  href="#remcam">Remove Cameras</a></li>
        <li class="tab col s3"><a href="#config">Configure</a></li>
        <li class="tab col s3"><a href="#showall">Show All</a></li>
      </ul>
    </div>
    <div id="addcam" class="col s12">
    <div class="row">
      <form class="col s12" action="/add-camera" method="POST">
        <div class="row">
                <div class="col m6 s12">
                Camera Name:
                <div class="input-field inline">
                    <input type="text" name="camera_name" class="square-box align-right">
                </div>
             </div>
            <div class="col m6 s12">
                IP Address:
                <div class="input-field inline">
                  <input type="text" name="ipaddress" class="square-box align-right">
                </div>
              </div>
              <div class="col m6 s12">
                User ID:
                <div class="input-field inline">
                  <input type="text" name="userid" class="square-box align-right">
                </div>
              </div>
              <div class="col m6 s12">
                Password:
                <div class="input-field inline">
                  <input type="password" name="password" class="square-box align-right">
                </div>
              </div>
              <div class="col m6 s12">
                Channel:
                <div class="input-field inline">
                  <input type="text" name="channel" class="square-box align-right">
                </div>
              </div>
              <div class="col m6 s12">
                Activity:
                <div class="input-field inline activity">
                    <select name="activity">
                      <option value="line Crossing">Line Crossing</option>
                      <option value="Unusual Activty">Unusual Activity</option>
                      <option value="Crowd Count">Crowd Count</option>
                    </select>
                    <!-- <label>Activity:</label> -->
                  </div>
              </div>
              <br />
              <p class="center-align">
                  <button class="btn btn-small blue" type="submit">ADD</button>
              </p>
            </div>
        </form>
        </div>
    </div>
    <div id="remcam" class="col s12">
      <br />
      <!-- <div class="row"> -->
        <div class="col s9">
          <ul class="tabs" style="font-size:12px;">
            <li class="tab col s4" style="font-size:12px;"><a class="active" href="#lc">Line Crossing</a></li>
            <li class="tab col s4" style="font-size:12px;"><a href="#cc">Crowd Count</a></li>
            <li class="tab col s4" style="font-size:12px;"><a href="#ua">Unusual Activity</a></li>
          </ul>
        </div>
        <div id="lc" class="col s12"><table>
          <thead>
            <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>User ID</th>
                <th>Channel</th>
                <th>Activity</th>
                <th>Remove</th>
            </tr>
          </thead>
  
          <tbody id="remlist">
            
          </tbody>
        </table></div>
        <!-- <div id="cc" class="col s12">
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>IP Address</th>
                  <th>User ID</th>
                  <th>Channel</th>
                  <th>Activity</th>
                  <th>Remove</th>
              </tr>
            </thead>
            <tbody id="ccremlist">
            </tbody>
          </table> -->
        <!-- <div id="test3" class="col s12">Test 3</div> -->
      <!-- </div> -->
    </div>
    <div id="config" class="col s12">
        <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>IP Address</th>
                  <th>User ID</th>
                  <th>Channel</th>
                  <th>Activity</th>
                  <th>Configure</th>
              </tr>
            </thead>
    
            <tbody id="configlist">
              
            </tbody>
          </table>
    </div>
    <div id="showall" class="col s12">
        <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>IP Address</th>
                  <th>User ID</th>
                  <th>Channel</th>
                  <th>Activity</th>
              </tr>
            </thead>
    
            <tbody id="showlist">
              
            </tbody>
          </table>
    </div>
  </div>
  </div>
  
  </div>
 
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock %}
{% block jsScripts %}
<script>
//   const messaging = firebase.messaging();
// messaging.usePublicVapidKey('BEaiwVFGwMlkSeaARb-b9yoPiCqRAtnK-2HlGAsgnZkLmBFsGsca27SzjG1WsNqgDV3FnvkcQRLmi3fhEsuIbVs');
// messaging.getToken().then((currentToken) => {
//   if (currentToken) {
//     sendTokenToServer(currentToken);
//     updateUIForPushEnabled(currentToken);
//   } else {
//     // Show permission request.
//     console.log('No Instance ID token available. Request permission to generate one.');
//     // Show permission UI.
//     updateUIForPushPermissionRequired();
//     setTokenSentToServer(false);
//   }
// }).catch((err) => {
//   console.log('An error occurred while retrieving token. ', err);
//   showToken('Error retrieving Instance ID token. ', err);
//   setTokenSentToServer(false);
// });
// messaging.onTokenRefresh(() => {
//   messaging.getToken().then((refreshedToken) => {
//     console.log('Token refreshed.');
//     // Indicate that the new Instance ID token has not yet been sent to the
//     // app server.
//     setTokenSentToServer(false);
//     // Send Instance ID token to app server.
//     sendTokenToServer(refreshedToken);
//     // ...
//   }).catch((err) => {
//     console.log('Unable to retrieve refreshed token ', err);
//     showToken('Unable to retrieve refreshed token ', err);
//   });
// });
async function removeCamData(url = '/remove-cam', data) {
        const response = await fetch(url, {
            method: 'POST', 
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        return await response.json(); 
        }
function removeCam(btnInstance){
      camid =  btnInstance[0].dataset;
      removeCamData('/remove-cam', camid)
      .then(response =>  {
        if(response.success){
          M.toast({html: 'Camera removed successfully!'});
          window.location.reload()
        }
        else{
          M.toast({html: 'Camera could not be removed!'})
        }
      })
      .catch(err => console.log(err))
    }
    async function getData(url) {
        const response = await fetch(url, {
            method: 'POST', 
            headers: {
            'Content-Type': 'application/json'
            }
        });
        return await response.json(); // parses JSON response into native JavaScript objects
        }
function configCam(cam){
      // var ele = document.querySelector('.modal');
      // let modalEle = M.Modal.getInstance(ele);
      // modalEle.open();
      console.log(cam[0].dataset['id']);
      camid= cam[0].dataset['id'];
      // const date = formatDate(new Date())
      // const videoEle = `<video id='video${cam[0].dataset['id']}' width='640' height=270  class="video-js vjs-default-skin" controls>
      //   <source src="http://localhost:8080/hls/${cam[0].dataset['id']}/${date}/index.m3u8" type="application/x-mpegURL" />
      // </video>`
      // $('.modal-content').append(videoEle);
      fetch(`/configure-cam/${camid}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            }
      })
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    if(data.success){
      M.toast({html: `${camid} configured successfully!`})
    }
    else{
      M.toast({html: `${camid} could not be configured!`})
    }
    
  }); 
    }
$(document).ready(function(){
    async function getData(url = '/cam-info' ) {
        const response = await fetch(url, {
            method: 'POST', 
            headers: {
            'Content-Type': 'application/json'
            }
        });
        return await response.json(); // parses JSON response into native JavaScript objects
        }
    getData('/cam-info')
        .then((camdata) => {
            displayCamInfo(camdata);
        })
    .catch(function(){
        console.log('error occured!');
    })

   function displayCamInfo(camdata){
    let rembody = $('#remlist')[0];
      let configbody = $("#configlist")[0];
      let showlist =  $("#showlist")[0];
      for(let i=0; i < camdata.length; i++){
        let row = `<tr>
            <td>${camdata[i]['camera_name']}</td>
            <td>${camdata[i]['ipaddress']}</td>
            <td>${camdata[i]['userid']}</td>
            <td>${camdata[i]['channel']}</td>
            <td>${camdata[i]['activity']}</td>`
        let remtable = row + `<td><button class='btn btn-small blue' onclick="removeCam($(this))" data-id=${camdata[i]['camera_name']}>Remove</button></td></tr>`
        let configtable = row + `<td><button class='btn btn-small blue' onclick='configCam($(this))' data-id=${camdata[i]['camera_name']}>Configure</button></td></tr>`
        rembody.insertAdjacentHTML('beforeend', remtable);
        configbody.insertAdjacentHTML('beforeend', configtable);
        showlist.insertAdjacentHTML('beforeend', row);
      }
    }
    function configCam(cam){
      // var ele = document.querySelector('.modal');
      // let modalEle = M.Modal.getInstance(ele);
      // modalEle.open();
      console.log(cam[0].dataset['id']);
      camid= cam[0].dataset['id'];
      // const date = formatDate(new Date())
      // const videoEle = `<video id='video${cam[0].dataset['id']}' width='640' height=270  class="video-js vjs-default-skin" controls>
      //   <source src="http://localhost:8080/hls/${cam[0].dataset['id']}/${date}/index.m3u8" type="application/x-mpegURL" />
      // </video>`
      // $('.modal-content').append(videoEle);
      getData(`/configure/${camid}`)
      .then(resp => console.log(resp))
      .catch(err => console.log(err));
    }
    
});


</script>
{% endblock %}
