<!-- layout.html -->
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Live Streaming</title>
    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  {% block varScripts %}{% endblock %}

</head>
<body>
  {% include 'nav.html' %}
  {% block content %}{% endblock %}
  {% include 'notifications.html' %}
  {% include 'footer.html' %}
 <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-functions.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyD_0l-rC3hVyUyBjGqSlFY88PCT6jruzNU",
    authDomain: "linecrossfinal.firebaseapp.com",
    databaseURL: "https://linecrossfinal.firebaseio.com",
    projectId: "linecrossfinal",
    storageBucket: "linecrossfinal.appspot.com",
    messagingSenderId: "474670727546",
    appId: "1:474670727546:web:72f837e302d96d151b96c3",
    measurementId: "G-69KN7308TF"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

</script>
  {% block jsScripts %}{% endblock %}
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
</body>
    
</html>