{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h4>Line Crossing</h4>
  <p>{{cam_type}}</p>
  <div class="camslist">
    <button class="btn btn-small teal" id="configBtn">Run Config</button>
  </div>
</div>
{% endblock %}
{% block jsScripts %}
<script>
  // firebase.database();
  var data = {{data|tojson}};
</script>
<script src="{{url_for('static', filename='js/linecrossing.js')}}"></script>
<script src="{{url_for('static', filename='audio/beep-02.mp3')}}"></script>
{% endblock %}
