<div class="s12 m3" class="notifications" id="notificationstab" style="overflow:hidden;height:100vh;width:400px;position: fixed; right: 50px; bottom: 0px; background-color: bisque;">
    <div class="col">
      <div class="row" style="width:320px;">
          <div class="col m8 s4"><h6 style="padding-left:5px;">Notifications</h6></div>
          <div class="col s4"><button class="toggleNotifications btn btn-small blue" style="margin:5px auto;">Hide</button></div>
        </div>
        <div class="row" style="overflow-y: scroll;height: 600px;margin:0;">
      <ul class="collapsible popout" id="notificationlist">
      </ul>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function(){
          $('.toggleNotifications').on('click', function(){
            //   $('.notifications').style('height', '50px');
              $('#notificationlist').toggle();
            if($(this).text() == 'Hide'){
                $('#notificationlist').hide();
                $('#notificationstab').height('50px');
                $(this).text('Show');
            }
            else{
                $('#notificationlist').show();
                $('#notificationstab').height('100vh');
                $(this).text('Hide');
            }

          })
      })
  </script>