<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!-- Include CSS File Here -->
	<link rel="stylesheet" href="../../static/css/login-style.css"/>
	<!-- Include JS File Here -->
	
</head>
<body>
	</head>
	<body>
	<div class="container">
	<div class="main">
	<h2>Javascript Login Form Validation</h2>
	<form id="form_id" method="post" name="myform">
	<label>User Name :</label>
	<input type="text" name="username" id="username"/>
	<label>Password :</label>
	<input type="password" name="password" id="password"/>
	<input type="button" value="Login" id="submit" onclick="validate()"/>
	</form><br>
	<span><b class="note" id="wrong" style="color: red;"></b></span>
	</div>
	</div>
	<script>
		var attempt = 3; // Variable to count number of attempts.
		// Below function Executes on click of login button.
		function validate(){
			var username = document.getElementById("username").value;
			var password = document.getElementById("password").value;
			if ( username == "admin" && password == "pass"){
			alert ("Login successfully");
			window.location = "/admin"; // Redirecting to other page.
			return false;
			}
			else{
			attempt --;// Decrementing by one.
			document.getElementById("wrong").innerHTML = "Username or Password Incorrect. You have left "+attempt+" attempt left;";
			// Disabling fields after 3 attempts.
			if( attempt == 0){
			document.getElementById("username").disabled = true;
			document.getElementById("password").disabled = true;
			document.getElementById("submit").disabled = true;
			return false;
		}
		}
		}
	</script>
</body>
</html>